import /init.recovery.trustkernel.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "11201000.usb0"
    setprop sys.usb.ffs.aio_compat 1
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw

    mount cgroup none /acct cpuacct
    mkdir /acct/uid
    mkdir /sdcard

on fs
    wait /dev/block/platform/soc/112b0000.ufshci
    symlink /dev/block/platform/soc/112b0000.ufshci /dev/block/bootdevice

    chmod +x /vendor/bin/*
    chmod +x /vendor/bin/hw/*
    # */

    mkdir /mnt/vendor           0755 system system
    mkdir /mnt/vendor/protect_f 0770 system system
    mkdir /mnt/vendor/protect_s 0770 system system
    mkdir /mnt/vendor/nvdata    0771 system system
    mkdir /mnt/vendor/nvcfg     0771 system system
    mount ext4 /dev/block/by-name/protect1 /mnt/vendor/protect_f rw wait
    mount ext4 /dev/block/by-name/protect2 /mnt/vendor/protect_s rw wait
    mount ext4 /dev/block/by-name/nvdata   /mnt/vendor/nvdata    rw wait
    mount ext4 /dev/block/by-name/nvcfg    /mnt/vendor/nvcfg     rw wait

    install_keyring
    setprop crypto.ready 1 

on post-fs
    # Support A/B feature for EMMC and UFS boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_ufs_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/by-name/preloader_ufs_b

on post-fs-data
    # Touch Panel
    chown root diag /sys/module/tpd_setting/parameters/tpd_calmat
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log_to_fs

    # Touch Panel
    # chmod 0664 /dev/touch
    chown root diag /sys/module/tpd_setting/parameters/tpd_calmat
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time
    chown root diag /sys/module/tpd_setting/parameters/tpd_mode
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time0
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time1
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_spl_num
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_pressure_threshold
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_auto_time_interval
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_sample_cnt
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_asamp
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log_to_fs

on boot
    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils
    start mtk.plpath.utils.link
    start health-hal-2-1
    start system_suspend
    
    chown root root /sys/class/leds/vibrator/trigger
    chown root root /sys/class/leds/vibrator/activate
    chown root root /sys/class/leds/vibrator/brightness
    chown root root /sys/class/leds/vibrator/duration
    chown root root /sys/class/leds/vibrator/state
    chown root root /sys/class/timed_output/vibrator/enable
    write /sys/class/leds/vibrator/trigger "transient"
    start vendor.vibrator-default

on property:persist.vendor.mtk.pl_lnk=1
    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b

service mtk.plpath.utils.link /system/bin/mtk_plpath_utils
    class main
    user root
    group root system
    oneshot
    disabled
    seclabel u:r:recovery:s0

service system_suspend /system/bin/hw/android.system.suspend-service
    class early_hal
    interface aidl android.system.suspend.ISystemSuspend/default
    user root
    group root wakelock
    capabilities BLOCK_SUSPEND
    disabled
    seclabel u:r:recovery:s0

service vendor.vibrator-default /vendor/bin/hw/android.hardware.vibrator-service.mediatek
    class hal
    interface aidl android.hardware.vibrator.IVibrator/default
    interface aidl android.hardware.vibrator.IVibratorManager/default
    user root
    group root input
    disabled
    seclabel u:r:recovery:s0

service vendor.gatekeeper /vendor/bin/hw/android.hardware.gatekeeper-service.trustkernel
    class hal
    interface aidl android.hardware.gatekeeper.IGatekeeper/default
    user system
    group system
    disabled
    seclabel u:r:recovery:s0

service vendor.keymint /vendor/bin/hw/android.hardware.security.keymint@3.0-service.trustkernel
    class early_hal
    interface aidl android.hardware.security.keymint.IKeyMintDevice/default
    interface aidl android.hardware.security.keymint.IRemotelyProvisionedComponent/default
    interface aidl android.hardware.security.sharedsecret.ISharedSecret/default
    interface aidl android.hardware.security.secureclock.ISecureClock/default
    user system
    group system drmrpc
    disabled
    oneshot
    seclabel u:r:recovery:s0

on property:crypto.ready=1
    write /proc/bootprof "crypto: start vendor.keymint"
    start vendor.keymint

on property:vendor.sys.listener.registered=true
    #start teed
    start vendor.gatekeeper
    start vendor.keymint

on property:hwservicemanager.ready=true
    #start teed
    start vendor.gatekeeper
    start vendor.keymint

on property:ro.crypto.state=unsupported
    stop teed
    stop vendor.gatekeeper
    stop vendor.keymint

on property:ro.crypto.state=unencrypted
    stop teed
    stop vendor.gatekeeper
    stop vendor.keymint

on property:twrp.decrypt.done=true
    stop teed
    stop vendor.gatekeeper
    stop vendor.keymint
